[Unit]
Description=Midway UMC Bells - Web Dashboard Socket
Before=chapel-bells-web.service

[Socket]
ListenStream=5000
Accept=false

[Install]
WantedBy=sockets.target
